#real-alert{
    color:red;
    background-color: black;
    font-size: large;
    margin-top:5%;
    margin-bottom: 5%;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#test-alert{
    color: rgb(13, 107, 1);
    background-color: rgb(236, 184, 14);
    font-size: large;
    margin-left: 35%;
    margin-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.missile-alert-links{
    display: block;
    text-align: center;
}